<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <h3 class="text-center">Customer Directory</h3>
        <hr><hr>
        <div class="text-center">
            <a href="/customer/add-customer">
                <button class="btn btn-primary m-2 mt-0">Add Customer</button>
            </a>
        </div>
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
            <tr>
                <td width="20%">First Name</td>
                <td width="20%">Last Name</td>
                <td width="40%">Email</td>
                <td width="20%">Action</td>
            </tr>
            </thead>
            <tbody>

            <tr th:each="theCustomer: ${customers}">
                <td th:text="${theCustomer.firstName}"></td>
                <td th:text="${theCustomer.lastName}"></td>
                <td th:text="${theCustomer.email}"></td>
                <td>
                    <a th:href="@{/customer/updateCustomer(customerId=${theCustomer.id})}">
                    <button class="btn btn-sm btn-outline-info">Update</button></a>
                    <a th:href="@{/customer/deleteCustomer(customerId=${theCustomer.id})}">
                    <button class="btn btn-sm btn-outline-danger" onclick="return func()">Delete</button></a>
                </td>

            </tr>
            </tbody>

        </table>
    </div>

    <script>
        const func = () => {
            return confirm("Are you sure?");
        };
    </script>
</body>
</html>